<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <style type="text/css">
        
        #startChat{
            background-color:white;
            color:#71C671;
            border:5px solid #7171C6;
            font-size:30px;
        }

        .chatBox{
            background-color:#3f3f3f;
        }

        .msgContainer{
            max-height:400px;
            overflow:scroll;
            padding-right:10px;
        }

        .msg{
            background-color:#a8a8a8;
            margin-top:5px;
            padding:15px;
            color:white;
            border-radius:4px;
        }

        input{
            margin:10px auto;
            background-color:#d3d3d3;
            color:black;
        }

        #chatBox{
            display:none;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
   
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-controller="ChatController">
    <br>
        <button class="btn btn-block" id="startChat">Start Chat</button>

        <!--tried creating this dynamically and adding the angular fire javascript in a function that would be called after it had been added to the dom, but this didn't work. for now leaving this in the actual modal-->

        <input type="text" id="test">

        <div id="chatBox" state="hidden">
            <div class="msgContainer">
                <p class="msg" ng-repeat="m in messages">{{m.message}} <br> {{m.date | date:'medium'}}</p>
            </div>
            
            <input type="text" class="form-control" placeholder="Write something to " ng-model="messageText">

            <button id="sendText" class="btn btn-default" ng-click="send()">Send</button>
        </div>

    <script type="text/javascript">
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBzJ9AknkEz3TmAHLEryoXaT74nLSf9mQQ",
            authDomain: "project1-ad91c.firebaseapp.com",
            databaseURL: "https://project1-ad91c.firebaseio.com",
            projectId: "project1-ad91c",
            storageBucket: "project1-ad91c.appspot.com",
            messagingSenderId: "297815876711"
        };
        firebase.initializeApp(config);
        var dB = firebase.database();
        var Auth = firebase.auth();
        var app = angular.module('chatApp', ['firebase']);

        dB.ref().on("value",function(snapshot){
            databaseObj = snapshot.toJSON();//setting databaseObj to the entire firebase onvalue change snapshot gives me the current firebase with every change that occurs to the firebase
            //firebase function to check whether user is logged into site
            Auth.onAuthStateChanged(function(user) {
                if (user) {
                    userObj = user;
                    myReftoDisconnect = dB.ref("/users/"+userObj.uid+"/iconnect");
                    myReftoDisconnect.set(true);
                    myReftoDisconnect.onDisconnect().set("disconnected");
                    userLoggedIn=true;//used below to state user is logged in and to proceed to next page

                    var userName = databaseObj.users[userObj.uid].name;
                    var useruid = userObj.uid;

                    var currRoleset=false;
                    if(currRoleset=false){
                        var currRole = databaseObj.users[userObj.uid].currRole;
                        currRoleset=true;
                    }
                    
                    var uid_contact,uid_pair;
                    if(currRole=="helper"){
                        uid_contact = databaseObj.users[userObj.uid].serving.requesterUID;
                        uid_pair = uid_contact + useruid;
                    } else {
                        uid_contact = databaseObj.users[userObj.uid].serving.helperUID;
                        uid_pair = uid_contact + useruid;
                    }

                    app.controller('ChatController', function($scope, $firebaseArray) {
                        var ref = firebase.database().ref().child('messages/'+uid_pair);
                        $scope.messages = $firebaseArray(ref);
                        $scope.send = function() {
                            $scope.messages.$add({
                                message: userName + ": " + $scope.messageText,
                                date: Date.now(),
                                uid: uid
                            })
                        }

                    })
                }
            })
        })



        $("#startChat").on("click",function(){
            if($("#chatBox").attr("state")=="hidden"){
                $("#chatBox").css("display","block");

                setTimeout(slideToBottom,1000);

                setTimeout(function(){
                    $(".msgContainer").bind("DOMNodeInserted",function(){
                        position = position+20;
                        $('.msgContainer').animate({
                            scrollTop: position
                        }, 'slow');
                    });
                },5000);

                $("#chatBox").attr("state","shown");

            } else {
                $("#chatBox").css("display","none");
                $('.msgContainer').animate({
                    scrollTop: 0
                }, 'fast');
                $("#chatBox").attr("state","hidden");
            }
        })

        var position=0;
        function slideToBottom() {
            console.log($('.msgContainer .msg:last-child').position().top);
            if(position<$('.msgContainer .msg:last-child').position().top){
                position = $('.msgContainer .msg:last-child').position().top;
                $('.msgContainer').animate({
                    scrollTop: position
                }, 'slow');
            }
        }


    </script>
</body>
</html>