
.line {
	padding: 5px;
	background-color: red;
}

element.style {
}


.masthead .logo a {
    display: block;
    float: left;
    height: 35px;
    width: 110px;
}


a:link, a:visited {
    color: #393234;
    text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}

.masthead .logo {
    background-image: url(../img/logo.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 110px 35px;
    display: block;
    position: absolute;
    bottom: 20px;
    height: 35px;
    width: 500px;
    text-indent: -9999px;
}



body, html {
    background-color: #e3dfdb;
    color: #393234;
    font-family: "proxima-nova","helvetica","arial","sans";
    font-size: 15px;
    font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
    line-height: 1;
}


.masthead .nav li.mobile a {
    background-image: url(../img/icon-list.png);
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: block;
    margin-left: 0;
    text-indent: -9999px;
    width: 40px;
}

.masthead .nav li a:link, .masthead .nav li a:visited {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: .135em;
    margin-left: 1em;
    text-transform: uppercase;
}

.masthead {
	width: 426px;
	height: 150px;
}

.inner {
	width: 406px;
	height: 105px;
	padding: 10px;
}

.logo {
	width: 500px;
	height: 35px;
}

.nav {
	width: 40px;
	height: 130px;
}

.selected {
	width: auto;
	height: auto;
}


.mobile {
	width: 40px;
	height: 22px;
}

.nav_mobile {
	width: auto;
	height: auto;
}

.content_inner {
	width: 405px;
	height: 2214.300px;
	padding: 10px;
}

.grid_cards {
	width: 426px;
	height: 2224.300px;
	margin-left: -10px;
	margin-bottom: -10px;
	margin-right: -10px;

}

.page_header {
	width: 385px;
	height: 124.297px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.underline {
	width: 104.984;
	height: 26px;
	margin-bottom: 13.500px;
}

.grid_row {
	width: 405px;
	height: 200px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.gridcol_single {
	width: 406px;
	height: 200px;
}

.gridcol_inline {
	width: 406px;
	height: 852px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.grid_feature {
	width: 406px;
	height: 340px;
	margin-bottom: 10px;
}

.gridcol_outer {
	width: 406px;
	height: 246px;
	position: absolute;
	box-sizing: inherit;
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: translate3d(0, 0, 0);
}
}

.gridcol_inner {
	width: 306px;
	height: 240px;
	padding: 50px;
	box-sizing: inherit;

}

.gridcol_body {
	width: 306px;
	height: 240px;
}

.largetxt {
	width: 306px;
	height: 240px;
}

.gridcol {
	width: 406px;
	height: 502px;
}

.gridcol_top {
	width: 406px;
	height: 246px;
}

.gridcol_btm {
	width: 406px;
	height: 246px;
	margin-top: 10px;
	box-sizing: inherit;
}

.gridcol_overlay {
	width: 150.922px;
	height: 29px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	position: 123 2.078 64 203;
	box-sizing: inherit;
}

.headline {
	width: 150.922px;
	height: 29px;

}

.gridcol_btm {
	width: 406px;
	height: 246px;
	margin-top: 10px;
}


.footer {
	width: 426px;
	height: 472.172px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.column {
	width: 406px;
	height: 376.172px;
	margin-right: 30.125px;
	margin-bottom: 30px;

}

















@media screen and (max-width: 496px)
master.css:1
.inner::after, .masthead .nav.mobile li a:link::after, .masthead .nav.mobile li a:visited::after {
    clear: both;
    content: "";
    display: table;
}
@media screen and (max-width: 676px)
master.css:1
.inner::after, .masthead .nav.mobile li a:link::after, .masthead .nav.mobile li a:visited::after {
    clear: both;
    content: "";
    display: table;
}
@media screen and (max-width: 876px)
master.css:1
.inner::after, .masthead .nav.mobile li a:link::after, .masthead .nav.mobile li a:visited::after {
    clear: both;
    content: "";
    display: table;
}
@media screen and (max-width: 876px) and (min-width: 0)
master.css:1
.inner::after, .masthead .nav.mobile li a:link::after, .masthead .nav.mobile li a:visited::after {
    clear: both;
    content: "";
    display: table;
}
master.css:1
.inner::after, .masthead .nav.mobile li a:link::after, .masthead .nav.mobile li a:visited::after {
    clear: both;
    content: "";
    display: table;
}
master.css:1
*, *::after, *::before {
    box-sizing: inherit;
}